{% load static %}
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h1>LET'S CONNECT</h1>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook "></i></a>
            <a href="#"><i class="fab fa-instagram "></i></a>
            <a href="#"><i class="fab fa-twitter "></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="col-12 padding">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                        placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="ph-num" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="query" rows="3" placeholder="Query"></textarea>
                </div>
                <button type="submit" class="btn btn-warning">Contact</button>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid padding bg-color">
    <div class="row">
        <div class="col-4">
            <img src="{% static 'images/logo.png' %}">

            <ul class="list-group">
                <li class="list-group-item border-0 bg-color">
                    <i class="fa fa-envelope icon-color" aria-hidden="true"></i>
                    <span class="span-text">convictcity2009@gmail.com</span>
                </li>
                <li class="list-group-item border-0 bg-color">
                    <i class="fa fa-map-marker icon-color" aria-hidden="true"></i>
                    <span class="span-text">83 Federal Street, North Hobart, TAS 7000</span>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 list-group">
                        <a href="#" class="list-group-item list-group-item-action">
                            Home
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                        <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                    </div>

                    <div class="col-6 list-group">
                        <a href="#" class="list-group-item list-group-item-action">
                            Home
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                        <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>