{% load static %}
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h1>LET'S CONNECT</h1>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook "></i></a>
            <a href="#"><i class="fab fa-instagram "></i></a>
            <a href="#"><i class="fab fa-twitter "></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="col-12 padding">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                        placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="ph-num" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="query" rows="3" placeholder="Query"></textarea>
                </div>
                <button type="submit" class="btn btn-outline btn-lg search">Contact</button>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid padding bg-color footer">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">

            <img src="{% static 'images/logo.png' %}" class="img-fluid">

            <ul class="list-group">
                <li class="list-group-item border-0 bg-color">
                    <i class="fa fa-envelope icon-color" aria-hidden="true"></i>
                    <span class="span-text">convictcity2009@gmail.com</span>
                </li>
                <li class="list-group-item border-0 bg-color">
                    <i class="fa fa-map-marker icon-color" aria-hidden="true"></i>
                    <span class="span-text">83 Federal Street, North Hobart, TAS 7000</span>
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="container">
                <div class="row">
                    <div class="col list-group footer-list">
                        <a href="#" class="list-group-item list-group-item-action border-0 bg-color span-text">
                            Home
                        </a>
                        <a href="#" class="list-group-item list-group-item-action border-0 bg-color span-text">About</a>
                        <a href="#"
                            class="list-group-item list-group-item-action border-0 bg-color span-text">Cookies</a>
                        <a href="#"
                            class="list-group-item list-group-item-action border-0 bg-color span-text">Fundraising</a>
                        <a href="#"
                            class="list-group-item list-group-item-action border-0 bg-color span-text">Labels</a>
                        <a href="#" class="list-group-item list-group-item-action border-0 bg-color span-text">Gift
                            Packaging</a>

                    </div>

                    <div class="col list-group footer-list">
                        <a href="#" class="list-group-item list-group-item-action border-0  bg-color span-text">
                            Order
                        </a>
                        <a href="#"
                            class="list-group-item list-group-item-action border-0  bg-color span-text">Delivery</a>
                        <a href="#"
                            class="list-group-item list-group-item-action border-0  bg-color span-text">Termns</a>
                        <a href="#"
                            class="list-group-item list-group-item-action border-0  bg-color span-text">Privacy</a>
                        <a href="#"
                            class="list-group-item list-group-item-action border-0 bg-color span-text">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h2 class="text-header">We Accept</h2>
            <span class="badge">
                <img class="img-fluid" src="{% static 'images/visacard.png' %}">
            </span>
            <span class="badge">
                <img class="img-fluid" src="{% static 'images/mastercard.png' %}" width="66" height="40">
            </span>
            <span class="badge">
                <img class="img-fluid" src="{% static 'images/paypal.svg' %}" width="66" height="40">
            </span>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 span-text">
                © 2019 Convict City Roller Derby League. Hobart, Australia
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 span-text">
                <span class="span-text">SITE BY</span>
                <span style="color: #ef522b;">ANAND DARSHAN</span>
            </div>
        </div>
    </div>
</div>